# Environment
.env
.envexample
.env.local
.env.*.local

# OSX files
.DS_store

# static
node_modules/
.sass-cache
assets/build
/dist
.firebase

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
firebase-debug.log


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
