.backlog {
  padding: 0;
  margin: 0;
  list-style: outside none;
  display: flex;
  flex-wrap: wrap;
}

.backlog__movie {
  position: relative;
  width: 100%;
  background-color: rgba($periwinkle, .5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: soft-light;
  display: flex;
  flex-direction: row;
  align-items: center;

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;

    // makes darkening bg
    background: linear-gradient(to top left, rgba($black, 0), rgba($black, .9));
  }

  &:nth-child(2n) { background-color: rgba($teal,.5); }
  &:nth-child(2n+3) { background-color: rgba($green,.5); }
  &:nth-child(3n) { background-color: rgba($babyblue,.5); }
  &:nth-child(5n+1) { background-color: rgba($purple,.5); }

  @include media-up(tablet) {
    width: 49.25%;
    margin: 5px 0 0 5px;
    min-height: 8vw;
  }

  @include media-up(standard) {
    width: 32.75%;
    min-height: 12vw;
  }

  @include media-up(large) {
    width: 24.55%;
    min-height: 10vw;
  }

  .backlog__movie__control {
    display: block;
    position: relative;
    z-index: 1;
    flex-basis: 20%;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 1.5em 1.5em;
    padding: .65em .75em;
    background: linear-gradient(to top left, rgba(lighten($black, 5%), .25), rgba(lighten($black, 5%), .95));
    border: 2px solid lighten($black, 5%);
    color: $white;
    cursor: pointer;
    font-weight: 700;
    font-size: .65em;
    opacity: .8;
    transition:
      opacity 150ms ease,
      border-color 150ms ease;
    border-radius: 3px;
    white-space: nowrap;

    @include media-up(tablet) {
      font-size: 1em;
      flex-basis: 22%;
    }

    &:not([disabled]):hover {
      border-color: $green;
      opacity: 1;
      background: linear-gradient(to top left, rgba(lighten($black, 5%), 1), rgba(lighten($black, 5%), .75));
    }

    &:not([disabled]):focus {
      outline: none;
    }

    &[disabled] {
      opacity: .5;
      cursor: default;
    }
  }

  &.backlog__movie--add {
    padding: 1em;
    background: none;

    &:before {
      opacity: 0;
    }
    
    .btn {
      height: 100%;
    }
  }
}

.backlog__movie__meta {
  padding: 1.5em;
  color: $white;
  flex-basis: 85%;
  overflow: hidden;
  text-shadow: 1px 1px 0 rgba($purple, .85);
  position: relative;
  z-index: 1;

  h3 {
    margin: 0;
    font-size: 1em;
    line-height: 1.25;
  }

  a {
    color: $white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;

      &::after {
        opacity: .5;
      }
    }
  }

  p {
    margin: 0;
    font-size: 65%;
    opacity: .70;
    font-weight: 400;
  }
}