html,
body,
#app {
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  display: flex;
}

html,
body,
#app,
input, textarea, select, button {
  // resets useragent crap
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
}

body {
  color: $purple;
}

* { box-sizing: border-box; }

.col-side,
.col-main {
  padding: 0 30px;
}

.col-side {  
  color: $white;
  position: relative;

  @include media-up(tablet) {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
  }

  &::after {
    content: '';
    height: 300%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    // background: none $purple;
    // background: radial-gradient(circle at bottom right, #a770ef, #cf8bf3, #fdb99b);
    background: radial-gradient(circle at top left, $purple, adjust-hue($purple, 50deg));
    z-index: -1;
  }
}

.col-main {
  width: 100%;
  padding: 30px;

  @include media-up(tablet) {
    padding-left: 330px;
  }
}



.container {
	width: $container-phone;
  margin: 0 auto;
	
  @media (min-width: $screen-sm-min) {
    width: $container-phone;
  }
  @media (min-width: $screen-md-min) {
    width: $container-tablet;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-desktop;
  }
  @media (min-width: $screen-lg-min) {
    width: $container-lg-desktop;
  }
  @media (min-width: $screen-xl-min) {
    width: $container-xl-desktop;
  }
}

.subsection {
  + .subsection {
    margin-top: 60px;
  }

  h2 {
    margin-top: 0;
  }
}