.site-title {
  margin: 30px 0;
  font-size: 1.75rem;
  color: $white;
  text-align: center;
  text-shadow:
    0 0 5px rgba($white, 1),
    0 0 10px rgba($white, 1),
    0 0 20px rgba($white, .5),
    0 0 40px $babyblue,
    0 0 50px $babyblue,
    0 0 80px $babyblue;
}

.side-nav {
  ul {
    list-style: outside none;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: 1px;
  }

  a {
    position: relative;
    display: block;
    padding: 15px 30px;
    margin: 0 -30px;
    color: $white;
    background-color: darken($purple, 2%);
    text-decoration: none;
    transition: background-color 100ms ease;
    z-index: 1;

    &.active {
      background-color: darken($purple, 10%);
    }

    &:hover {
      background-color: lighten($purple, 4%);
    }

    &:focus,
    &:active {
      background-color: darken($purple, 20%);
    }

  }
}