.site-title {
  font-size: 1.75rem;
  color: $white;
  text-shadow:
    1px 1px 0 $green,
    2px 2px 0 $periwinkle,
    3px 3px 0 $teal,
    4px 4px 0 $babyblue;
}

.side-nav {
  ul {
    list-style: outside none;
    margin: 0;
    padding: 0;
  }

  li + li {
    margin-top: 1px;
  }

  a {
    display: block;
    padding: 15px 30px;
    margin: 0 -30px;
    color: $white;
    background-color: darken($purple, 2%);
    text-decoration: none;
    transition: background-color 100ms ease;

    &.active {
      background-color: darken($purple, 10%);
    }

    &:hover {
      background-color: lighten($purple, 4%);
    }

    &:focus,
    &:active {
      background-color: darken($purple, 20%);
    }

  }
}