.nav-wrap {
  color: $white;
  position: relative;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 42px;

  @include media-up(standard) {
    height: auto;
    transform: none;
  }

  &.is-open-burger {
    .nav-wrap__overlay{
      display: block;
    }

    .nav-wrap--large {
      transform: translate3d(0, 0, 0);

      @include media-up(standard) {

      }   
    }
  }
}

.nav-wrap__overlay {
  display: none;
  width: 100%;
  height: 95vh;
  position: fixed;
  left: 0;
  top: 42px;
  background: rgba($black, .75);


  @include media-up (standard) {
    display: none;
    pointer-events: none;
  }
}

.nav-wrap--mobile {
  display: flex;
  background: $purple;

  @include media-up (standard) {
    display: none;
  }
}


.burger {
  margin: 8px -10px 5px 10px;
  background: none transparent;
  border: 0;
  cursor: pointer;

  img {
    width: 20px;
    height: auto;
    display: inline-block;
  }

  &:focus {
    outline: none;
  }

  &:active {
    opacity: .75;
  }

  @include media-up (standard) {
    display: none;
  }
}

.nav-wrap--large {
  display: flex;
  width: 75vw;
  max-width: 300px;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column-reverse;
  transform: translate3d(-100%, 0, 0);
  transition: transform 200ms ease-out;
  background: darken($purple, 3%);

  @include media-up(standard) {
    transform: translate3d(0, 0, 0);
    width: 100%;
    max-width: none;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    background: $purple;
  }
}

.site-title {
  padding: 5px 30px;
  margin: 0;
  font-size: 1.75rem;
  color: lighten($teal, 2%);
  white-space: nowrap;
  flex-grow: 0;
  font-family: 'Permanent Marker', cursive;
  letter-spacing: -0.075em;
  text-shadow:
    0 0 1px rgba($black, .75),
    1px 1px 2px rgba($black, .75),
    0 0 25px rgba($teal, .40);

  > span {
    font-size: .75em;
    vertical-align: top;
  }

  @include media-up (standard) {
    flex-basis: 15%;
    font-size: 2.25rem;
  }
}

.site-title--main {
  display: none;

  @include media-up (standard) {
    display: block;
  }
}

.nav {
  width: 100%;

  @include media-up (standard) {
    flex-basis: 35%;
    width: auto;
  }

  ul {
    list-style: outside none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media-up (standard) {
      flex-direction: row;
      width: auto;
    }
  }

  li {
    flex-shrink: 1;
    flex-grow: 1;
    white-space: nowrap;
  }

  li + li {
    margin-top: 1px;

    @include media-up (standard) {
      margin-top: 0;
    }
  }

  a {
    position: relative;
    width: 100%;
    display: block;
    padding: 15px 20px;
    color: $white;
    font-weight: 400;
    text-decoration: none;
    transition: background-color 200ms ease;
    z-index: 1;
    font-size: .85em;

    @include media-up (standard) {
      width: auto;
      text-align: center;
      padding: 20px 15px;
    }

    &.active {
      // background-color: darken($purple, 10%);
    }

    &:hover {
      background-color: lighten($teal, 4%);
    }

    &:focus,
    &:active {
      // background-color: darken($purple, 20%);
    }

  }
}

.user-actions {
  width: 100%;
  padding: 20px;

  @include media-up (standard) {
    flex-shrink: 1;
    flex-grow: 0;
    flex-basis: 40%;
    padding-right: 30px;
    padding-top: 0;
    padding-bottom: 0;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }
}

.user-controls {
  white-space: nowrap;
}

.user-controls__user {
  display: none;
  margin-left: 30px;

  @include media-up (standard) {
    display: inline-block;
  }

  img {
    display: inline-block;
    height: 25px;
    margin-right: .5em;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 0 0 2px $teal;
  }

  span {
    vertical-align: middle;
    font-size: .85em;
    font-weight: 400;
    opacity: .75;
  }

  small {
    // margin-left: .5em;
  }
}

.logout {
  width: 100%;
  margin-top: 20px;

  @include media-up (standard) {
    margin-top: 0;
    width: auto;
    margin-left: 20px;
  }
}