.night {
  // background: linear-gradient(165deg, $babyblue, darken($babyblue, 40%) 100%);
  // background: radial-gradient(circle at bottom right, #a770ef, #cf8bf3, #fdb99b);
  background: radial-gradient(circle at top left, $purple, $teal);
  color: $white;
}

.night__meta {
  display: flex;
  flex-direction: row;
}

.night__meta__info {
  flex-basis: 85%;
  padding: 20px 30px;

  h3 {
    font-size: 1.5rem;
    margin: 0;
  }

  p {
    margin: 0;
  }
}

.night__meta__actions {
  padding: 20px 30px;
  flex-basis: 15%;
  text-align: right;
}

.movies {
  display: flex;
  flex-direction: column;
  min-height: 250px;
  background: rgba($babyblue, .25);

  @include media-up (tablet) {
    min-height: 300px;
    flex-direction: row;
  }
}

.movie {
  padding: 30px;
  position: relative;
  flex-shrink: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @include media-up (tablet) {
    width: 50%;
    min-height: 300px;
  }

  // colored overlay
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(165deg, rgba(darken($teal, 30%), .98), rgba(darken($green, 30%), .75) 70%);
  }

  &:first-child::after {
    background: linear-gradient(165deg, rgba(darken($green, 30%), .98), rgba(darken($teal, 30%), .75) 70%);
  }
}

.movie__meta,
.movie__ratings {
  position: relative;
  z-index: 1;
}

.movie__ratings {
  display: flex;
}

.movie__meta {
  padding-left: 100px;
  background-size: 80px auto;
  background-repeat: no-repeat;
  background-position: left top;
  min-height: 120px;
  color: $white;

  p {
    margin: 0;

    a {
      color: $white;
      font-weight: 700;
    }
  }
}

.movie__head {
  font-size: 1.5rem;

  h4 {
    font-size: 1.5rem;
    margin: 0 0 5px;
    font-weight: 700;

    a {
      color: $white;

      &:hover {
        + small {
          left: 14px;
        }
      }
    }
  }

  h3 {
    margin: 5px 0 1em;
    font-size: 1rem;
    font-weight: 400;
  }

  small {
    opacity: .65;
    font-weight: 200;
    margin-left: .5em;
    position: relative;
    left: 0;
    transition: left 200ms ease-out;
  }
}

.movie__ratings {
  margin: 30px 0 0;
}

.movie__ratings__listing {
  width: 33.3%;

  h5 {
    width: 80%;
    margin: 0 0 5px;
    padding: 0 0 5px;
    font-size: 1rem;
    border-bottom: 1px dotted $white;
  }

  ul {
    padding: 0;
    margin: 5px 0 0;
    list-style: inside;
  }

  li + li {
    margin-top: 3px;
  }
}

.movie--slot {
  background: none transparent;
  padding: 1.5vw;

  h4 {
    font-size: 1.5em;
  }

  &::after {
    display: none;
  }

  .movie__meta {
    padding: 1.25vw 4vw 2vw;
    border-radius: 3px;
    box-shadow:
      inset 0 0 0 3px rgba($babyblue, .75),
            0 0 5px 0 rgba($babyblue, .5),
      inset 0 0 5px 2px rgba($white, .65),
      inset 0 0 25px 0 rgba($babyblue, .25),
      inset 0 0 35px 0 rgba($babyblue, .5);
    height: 100%;

    p {
      margin-top: 1em;
      font-size: 85%;

      strong {
        display: block;
        font-size: 125%;
      }
    }
  }
}