// Colors
$purple: #8848dc;
$periwinkle: #4783E8;
$babyblue: #5BD1FF;
$teal: #47E8DC;
$green: #4EFFB0;

$white: #fff;
$black: #000;

$btn-color-bottom: darken($teal, 20%);
$btn-color-top: darken(adjust-hue($teal, 25deg), 20%);

// Breakpoints
$screen-xs-min: 480px;  // Extra small screen / phone
$screen-sm-min: 768px;  // Small screen / tablet
$screen-md-min: 992px;  // Medium screen / desktop
$screen-lg-min: 1200px; // Large screen / wide desktop
$screen-xl-min: 1600px; // Extra Large screen / full hd

// Container widths
$container-phone:       100%;
$container-tablet:      750px;
$container-desktop:     960px;
$container-lg-desktop:  1170px;
$container-xl-desktop:  1400px;